version: 2

parameters:
  run_test:
    type: boolean
    default: false

executors:
  machine-executor:
    machine: true
  docker-executor:
    docker:
      - image: ankrnetwork/alpine:v1.0.0

commands:
  docker-login:
    steps:
      - run:
          name: docker login
          command: |
            docker login -u $username -p $passwd

jobs:
  test-run:
    executor: machine-executor
    steps:
      - run:
          name: "test run"
          command: |
            echo $username;

  build-with-machine:
    executor: machine-executor
    steps:
      - checkout
#      - docker-login
#      - run: make docker-push
      - run:
          echo $username

  docker-run:
    executor: machine-executor
    steps:
      - checkout
      - run:
          name: "test taigger && parameters"
          command: |
            curl -X POST -u ${CIRCLECI_TOKEN} --header "Content-Type: application/json" -d '{"branch":"master","paramters": {"run_test": true}}'  https://circleci.com/api/v2/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/pipeline

#            curl -u ${CIRCLE_API_USER_TOKEN}: -X POST --header "Content-Type: application/json" -d '{"parameters": {"run_test": true}}' https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH
#      - run:
#          name: docker pull and run
#          command: |
#            BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
#            docker pull jinmz/hello-circile:${BRANCH_NAME}
#            docker run jinmz/hello-circile:${BRANCH_NAME}


workflows:
  version: 2
  integration_tests:
    when:
     not: << pipeline.parameters.run_test >>
    jobs:
      - test-run:
          context: docker-login
  build-run:
    when: << pipeline.parameters.run_test >>
    jobs:
      - build-with-machine:
          context: docker-login
          filters:
            branches:
              ignore:
                - feature*
      - docker-run:
          requires:
            - build-with-machine
          filters:
            branches:
              only: master
          
