version: 2.1

parameters:
  run_test:
    type: boolean
    default: false

executors:
  machine-executor:
    machine: true

jobs:
  test-run:
    executor: machine-executor
    steps:
      - run:
          name: "test run"
          command: |
            echo $username;

  docker-run:
    executor: machine-executor
    steps:
      - run:
          name: "test taigger && parameters"
          command: |
            curl -X POST -u ${CIRCLECI_TOKEN}: --header "Content-Type: application/json" -d '{"branch":"master", "parameters": {"run_test": true}}'  https://circleci.com/api/v2/project/github/xiaobaiskill/test-circleci/pipeline


workflows:
  version: 2
  integration_tests:
    when: << pipeline.parameters.run_test >>
    jobs:
      - test-run:
          context: docker-login

  build-run:
    jobs:
      - docker-run:
          context: docker-login
          
